.blog-article {
    border-left-width: 1px;
    border-right-width: 1px;
}

    .blog-article h1 {
        font-size: 2em;
        font-weight: bold;
        padding-bottom: 0.5em;
    }

    .blog-article h2 {
        font-size: 1.5em;
        font-weight: bold;
        padding-bottom: 0.5em;
    }

    .blog-article h3 {
        font-size: 1.17em;
        font-weight: bold;
        padding-bottom: 0.5em;
    }

    .blog-article h4 {
        font-size: 1.00em;
        font-weight: bold;
        padding-bottom: 0.5em;
    }

    .blog-article h5 {
        font-size: 0.83em;
        font-weight: bold;
        padding-bottom: 0.5em;
    }

    .blog-article h6 {
        font-size: 0.67em;
        font-weight: bold;
        padding-bottom: 0.5em;
    }

    .blog-article p {
        padding: 0.5em;
    }

    .blog-article ol {
        list-style: decimal;
        margin-left: 1em;
        padding: 1em;
    }

    .blog-article ul {
        list-style-type: disc;
        margin-left: 1em;
        padding: 1em;
    }

    .blog-article img.blog-image {
        --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        border-radius: 1rem;
        padding: 0px;
    }

    .blog-article img.blog-image-left {
        margin-right: 1rem;
        float: left;
    }

    .blog-article img.blog-image-right {
        margin-left: 1rem;
        float: right;
    }

    .blog-article iframe.blog-video {
        --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        border-radius: 1rem;
        max-width: 100%;
    }

    .blog-article table {
        border-collapse: collapse;
        table-layout: fixed;
    }

        .blog-article table th,
        .blog-article table caption {
            text-align: start;
        }

        .blog-article table caption {
            margin-block: 0.75rem;
        }

        .blog-article table thead th:not(:first-child),
        .blog-article table td {
            text-align: center;
        }

        .blog-article table thead {
            border-block-end: 2px solid;
            background: whitesmoke;
        }

        .blog-article table tfoot {
            border-block: 2px solid;
            background: whitesmoke;
        }

        .blog-article table th,
        .blog-article table td {
            border: 1px solid lightgrey;
            padding: 0.25rem 0.75rem;
            vertical-align: baseline;
        }

            .blog-article table th:first-child {
                position: sticky;
                inset-inline-start: 0;
                border-inline-end: none;
            }

        .blog-article table tbody th {
            background: white;
        }

        .blog-article table thead th,
        .blog-article table tfoot th {
            background: whitesmoke;
        }

        .blog-article table thead th {
            vertical-align: bottom;
        }

        .blog-article table td:first-of-type,
        .blog-article table :where(thead, tfoot) th:nth-child(2) {
            text-align: start;
        }

        .blog-article table th:first-of-type {
            width: 10rem;
        }

        .blog-article table th:first-child::after {
            content: '';
            position: absolute;
            inset-block-start: 0;
            inset-inline-end: 0;
            width: 1px;
            height: 100%;
            background: lightgrey;
        }

@media (min-width: 768px) {

    .md\:max-w-25 {
        max-width: 25rem;
    }

    .md\:max-w-35 {
        max-width: 35rem;
    }
}